*
!Dockerfile
!.cargo/
!.cargo/**
!Cargo.toml
!Cargo.lock
!api/
!api/Cargo.toml
!api/src/
!api/src/**
!signer-native/
!signer-native/Cargo.toml
!signer-native/src/
!signer-native/src/**
!third_party/
!third_party/rnidbg/
!third_party/rnidbg/**
!resources/
!resources/**
!configs/
!configs/config.yaml
