*
!Dockerfile
!.cargo/
!.cargo/**
!Cargo.toml
!Cargo.lock
!crates/
!crates/api/
!crates/api/Cargo.toml
!crates/api/src/
!crates/api/src/**
!crates/signer-native/
!crates/signer-native/Cargo.toml
!crates/signer-native/src/
!crates/signer-native/src/**
!vendor/
!vendor/rnidbg/
!vendor/rnidbg/**
!assets/
!assets/fq-signer/
!assets/fq-signer/**
!configs/
!configs/config.yaml
