/target
/.idea
/.vscode
/.DS_Store
**/target
!third_party/rnidbg/unicorn/qemu/target/
!third_party/rnidbg/unicorn/qemu/target/**
**/*.log
**/*.tmp
**/.classpath
**/.project
**/.settings
.codex
/third_party/local-sdk
